<!DOCTYPE html>
<html lang="pt_br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Desafio Linx | Página Home</title>

  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/home.css">
  <link rel="stylesheet" href="/styles/header.css">
</head>

<body id="page-home">

  <div id="container">
  
    <header class="page-header">
      <div class="header-bg"></div>
      <div class="header-content">
        <div class="header-title">
          <p>uma seleção de produtos</p>
          <strong>especial para você</strong>
          <p>Todos os produtos desta lista foram selecionados a partir da sua navegação. Aproveite!</p>
        </div>
        <nav class="main-menu">
          <a class="main-menu-item" href="#">Conheça a Linx</a>
          <a class="main-menu-item" href="#">Ajude o algoritmo</a>
          <a class="main-menu-item" href="#">Seus produtos</a>
          <a class="main-menu-item" href="#">Compartilhe</a>
        </nav>
      </div>
    </header>

    <main>

    </main>

    <footer>

    </footer>


  </div>

</body>

</html>