.main-content .description {
  padding: 0 16px 0 16px;
  width: auto;
  color: var(--color-text-base);
}

.main-content .description h1 {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

.main-content .description p {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

.main-content .description-form {
  display: flex;
  flex-direction: column;
}

.main-content .description-form fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 16px;
}

.main-content .description-form fieldset input {
  height: 30px;
  border: 1px solid var(--color-background-title);
  padding: 5px;
}

.main-content .description-form fieldset label {
  margin-bottom: 5px;
}

.main-content .description-form fieldset .input-block {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: var(--color-text-base);
}

.main-content .description-form fieldset .input-gender {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.main-content .description-form fieldset .input-gender .input-gender-item {
  display: flex;
  align-content: center;
  align-items: center;
  margin-top: 0;
}

.main-content .description-form fieldset .input-gender .input-gender-item label {
  margin: 0 50px 0 0;
  padding-left: 5px;
}

.main-content .description-form fieldset button {
  color: var(--color-text-base);
  font-size: 16px;
  width: 100%;
  height: 39px;
  border: 1px solid var(--color-background-title);
  border-radius: 4px;
  background: var(--color-background-base);
  cursor: pointer;
}

.separation-line {
  width: 420px;
  border-top: 1px solid var(--color-background-title);
  max-width: 960px;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.separation-line span{
  position: relative;
  top: -12px;
  padding: 0 15px;
  background: var(--color-background-base);
  color: var(--color-text-base);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

.section-products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-list {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;

  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  width: 100%;
}

.product-list .product-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  width: 100%;
  color: var(--color-text-base);
}

.product-list .product-item img {
  width: 169px;
  height: 129px;
}

.product-list .product-item .product-item-name{
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 14px;
}

.product-list .product-item .product-item-price{
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}

.product-list .product-item .product-item-price-bigger{
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  margin: 6px 0;
}

.product-list .product-item .product-item-buy-button {
  display: flex;
  border: 1px solid var(--color-background-title);
  border-radius: 4px;
  background: var(--color-background-base);
  width: 200px;
  height: 30px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--color-text-base);
  font: normal normal 16px Helvetica;
}

.product-list .product-item .product-item-description {
  display: none;
}

.section-products .btn-more-products {
  background: var(--color-background-base);
  border: 1px solid var(--color-background-title);
  border-radius: 4px;
  width: 260px;
  height: 39px;
  margin: 50px;
  color: var(--color-text-base);
  font: normal normal 16px Helvetica;
  cursor: pointer;
}

.section-news .section-news-paragraph {
  color: var(--color-text-base);
  font: normal normal 14px Helvetica;
  letter-spacing: 0;
  margin: 30px 0 10px 0;
  text-align: center;
}

.section-news .section-news-form  {
  display: flex;
  flex-direction: column;
}

.section-news .section-news-form fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 16px;
}

.section-news .section-news-form fieldset input {
  width: auto;
  max-width: 391px;
  height: 30px;
  border: 1px solid var(--color-background-title);
  padding: 5px;
}

.section-news .section-news-form fieldset label {
  margin-bottom: 5px;
}

.section-news .section-news-form fieldset .input-block {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: var(--color-text-base);
}

.section-news-form button {
  background: var(--color-background-base);
  border: 1px solid var(--color-background-title);
  border-radius: 4px;
  color: var(--color-text-base);
  width: 260px;
  height: 39px;
  margin: auto;
  font: normal normal 16px Helvetica;
  cursor: pointer;
}

@media (min-width: 700px) {
  .main-content {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }

  .main-content .description {
    max-width: 100%;
    width: 60%;
    padding-right: 40px;
    padding-left: 16px;
  }

  .main-content .description h1 {
    font-size: 22px;
  }

  .main-content .description p {
    font-size: 14px;
  }

  .main-content .description-form {
    width: 40%;
  }

  .main-content .description-form fieldset .input-block {
    font-size: 14px;
  }

  .separation-line span {
    font-size: 18px;
  }

  .product-list {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
  }

  .product-list .product-item .product-item-buy-button {
    width: 170px;
  }

  .separation-line{
    width: 768px;
  }

  .section-news .section-news-paragraph {
    font: normal normal 16px Helvetica;
  }

  .section-news .section-news-form fieldset {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .section-news .section-news-form fieldset .input-block{
    padding: 0 20px 0 20px;
  }

  .section-news .section-news-form fieldset input{
    width: 340px;
  }
}

@media (min-width: 769px) {
  .main-content .description {
    padding-left: 0;
  }

  .product-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
  }

  .product-list .product-item {
    flex-direction: column;
    width: 100%;
  }

  .product-list .product-item img {
    width: 200px;
    height: 150px;
  }

  .product-list .product-item .product-item-name{
    font-size: 16px;
    margin: 10px 0 14px 0;
  }

  .product-list .product-item .product-item-price{
    font-size: 14px;
  }

  .product-list .product-item .product-item-price-bigger{
    font-size: 16px;
  }

  .product-list .product-item .product-item-buy-button {
    width: 200px;
  }

  .product-list .product-item .product-item-description {
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 14px;
  }

  .separation-line{
    width: 980px;
  }
}

@media (max-width: 400px) {
  .separation-line{
    width: 320px;
  }
}