:root {
  --color-background-base: #FFFFFF;
  --color-background-title: #707070;
  --color-text-title: #FFFFFF;
  --color-text-base: #888888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  background: var(--color-background-base);
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font-family: 'Helvetica Neue', sans-serif;
}

#container {
  width: 100%;
  max-width: 980px;
}

a {
  text-decoration: none;
}
